body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-family: sans-serif;
    height: 1500px;
    
}

/* .cont {
    border: black 1px solid;
}
 */

.container1 {
    flex: 5;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 10px 350px;
    justify-content: center;
    
}

.container2 {
    flex: 5;
    background-color: white;
}

.container3 {
    flex: 4;
    background-color: #e5e7eb;
}

.container4 {
    flex: 3;
    background-color:white;
}

.footer {
    flex: 1;
    background-color: #1f2937;
}

.header {
    display: flex;
    margin-bottom: auto;
}

ul { 
    display: flex;
    margin: 0;
    list-style: none;
    gap: 1rem
}

a.link {
    color: #e5e7eba1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9faf8;
    font-weight: 600;
}

.central {
    display: flex;
     justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    gap: 80px;
}
 .main{
     width: 50%;
     flex-wrap: wrap;
     display: flex;

 }
.title {
    font-size: 48px;
    font-weight:bolder;
    color: #F9faf8;
}

.description {
    color: #e5e7eba1;
    font-size: 18px;
    font-weight: 300;
    margin: 20px auto;
    font-weight: 100;
}

.central_img{
    width: 50%;
    height: 250px;
}

.singup1 {
    background-color: #3882F6;
    color: #F9faf8;
    padding: 5px 25px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    
}