body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-family: sans-serif;
    height: 100VH;
}

/* .cont {
    border: black 1px solid;
}
 */

.container1 {
    flex: 5;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 10px 400px;
    justify-content: center;
    
}

.container2 {
    flex: 5;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 400px;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}

.container3 {
    flex: 4;
    background-color: #e5e7eb;
    padding: 50px 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container4 {
    flex: 3;
    background-color:white;
}

.footer {
    flex: 1;
    background-color: #1f2937;
}

.header {
    display: flex;
    margin-bottom: auto;
}

ul { 
    display: flex;
    margin: 0;
    list-style: none;
    gap: 1rem
}

a.link {
    color: #e5e7eba1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9faf8;
    font-weight: 600;
}

.central {
    display: flex;
     justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    gap: 80px;
}
 .main{
     width: 50%;
     flex-wrap: wrap;
     display: flex;

 }
.title {
    font-size: 48px;
    font-weight:bolder;
    color: #F9faf8;
}

.description {
    color: #e5e7eba1;
    font-size: 18px;
    font-weight: 300;
    margin: 20px auto;
    font-weight: 100;
}

.central_img{
    width: 50%;
    height: 250px;
}

.singup1 {
    background-color: #3882F6;
    color: #F9faf8;
    padding: 5px 25px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    border: none;
}

/* container2 */

.title2 {
    font-size: 36px;
    font-weight: 900;
}

.photo_cont {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

.img4 {
     border: solid 5px #3882F6; 
     border-radius: 15px;
     height: 180px;
     width: 180px;
 
}

.photo {
    width: 180px;
    display: flex;
    flex-direction: column;
/*     border: 1px black solid;
 */}

 /* container3 */

 .text,
 .autor {
}

.text  {
    color: #1f2937a2;
    font-style: italic;
    font-size: 36px;
}

.autor  {
    color: #1f2937e2;
    text-align: end;
    font-weight: 1000;
    font-size: 25px;
    
  }